body {
    --color-background: rgb(255, 255, 255);
    --color-on-background: #fff;

    --color-tooltip: rgba(0, 5, 11, 0.9);
    --color-on-tooltip: #fff;

    --color-handle: #67c2e4;
    --color-handle-drag: #2c343a;
}
